.top-ui {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;


    .top-ui-content {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        min-width: 1080px;
        max-width: 100%;

        .logo-link {
            height: inherit;
            display: inline-flex;


            .logo {
                display: flex;
                align-self: center;
                height: 28px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .title {
                display: flex;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 20pt;
                font-weight: 500;
            }
        }



        .button-link {
            display: inline-block;
        }

        .about {
            flex-grow: 1;
        }



    }
}